::backdrop {
    background-color: red;
    opacity: 0;
  }
  
.input-wrap {
    margin: 0.2rem;
}
  
#submit-choices {
    margin-top: 0.2rem;
    border-radius: 3px;
    border: 1px solid gainsboro;
    background-color: aquamarine;
    padding: 7 15px;
}
  
#submit-choices:hover {
    background-color: #7ffaa6;
    cursor: pointer;
    transform: translateY(-2px);
}
  
#submit-choices:active {
    background-color: gold;
    transform: scale(1.1);
}

/* To Mark the X and O squares */
.x {
  background: #FF7276;
}

.o {
  background: #90ee90;
}

/* The Tic Tac Toe Grid */
.tic-tac-toe-container#active {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid sandybrown;
}