body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::backdrop {
    background-color: red;
    opacity: 0;
  }
  
.input-wrap {
    margin: 0.2rem;
}
  
#submit-choices {
    margin-top: 0.2rem;
    border-radius: 3px;
    border: 1px solid gainsboro;
    background-color: aquamarine;
    padding: 7 15px;
}
  
#submit-choices:hover {
    background-color: #7ffaa6;
    cursor: pointer;
    transform: translateY(-2px);
}
  
#submit-choices:active {
    background-color: gold;
    transform: scale(1.1);
}

/* To Mark the X and O squares */
.x::before {
  content: 'X';
}

.x {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e2d7d8;
  border: 1px solid black;
}

.o::before {
  content: 'O';
}

.o {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d8e7d8;
  border: 1px solid black;
}

#winner {
  background: gold;
}

/* The Tic Tac Toe Grid */
.tic-tac-toe-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 40%;
  height: 70vh;
  border: 1px solid black;
  align-content: center;
  justify-content: center;
}

.game-square{
  border: 1px solid black;
  width: 100%;
  height: 100%;
}